
@{
    ViewData["Title"] = "Yetkisiz Alan";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<h2 class="align-content-center justify-content-center text-center mb-5 p-5 color-light" style="background-color: darkblue;">YETKİSİZ ALANA ERİŞMEYE ÇALIŞTINIZ</h2>
<p style="margin:30rem;"></p>